* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: white;
    justify-content: center;
}

.body-container {
    max-width: 1800px;
    justify-self: center;
    height: fit-content;
    width: fit-content;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85);
}

a, .btn {
    transition: all 300ms ease;
}

/* Desktop */
nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rbg(181,181,181);
}

.logo {
    font-size: 3rem;
    font-weight: 600;
}

.logo:hover {
    cursor: default;
}

/* Hamburger menu */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
    z-index: 10;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:nth-child(2) {
    opacity: 1;
}

.hamburger-icon span:last-child {
    transform: none;
}

/* Sections */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    align-content: center;
}

/* Profile */
#profile {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 15rem;
    height: 80vh;
    top: -100px;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    box-sizing: border-box;
    justify-content: center;
}

.profile-pic {
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 50%;
    z-index: -1;
}

.section__text {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
    width: 400px;
}

.section__text__p1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    position: relative;
    cursor: pointer;
    height: 2rem;
    top: -0.4rem;
}

/* Cursor Animation */
@keyframes caret {
    50% {
        border-color: transparent;
    }
}

/* Buttons */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53) 0.1rem;
    color: white;
}

.btn-color-1:hover {
    background: black;
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: white 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* About Me */
#about {
    position: relative;
    line-height: 1.5;
}

.about-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    align-self: center;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.about-container, .about-details-container {
    display: flex;
    box-sizing: border-box;
}

.arrow {
    position: absolute;
    right: -5rem;
    top: 80vh;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: transparent;
    border-radius: 2rem;
    border: rgb(163,163,163) 0.1rem solid;
    text-align: center;
    margin: 1rem;
}

.section-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

#about h4 {
    top: 2rem;
    font-size: 0.9rem;
}

.text-container {
    text-align: center;
}

/* Experience Section */
#skills {
    position: relative;
}

.skills-sub-title {
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75;
    margin-bottom: 2rem;
}

.skills-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
}

.article-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
}

article {
    display: flex;
    width: max-content;
    text-align: left;
    gap: 0.2rem;
}

article .icon {
    cursor: default; 
}

.company-logo {
    width: 100%;
    max-height: 10vh;
    object-fit: contain;
}
/* Experience Section */
#experience {
    position: relative;
}

.experience-sub-title {
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Projects Section */
#projects {
    position: relative;
    height: min-content;
}

.color-container {
    border-color: rgb(163,163,163);
    background: rgb(250,250,250);
}

.project-img {
    border-radius: 2rem;
    height: 100%;
    max-width: 90%;
    max-height: 590px;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163,163,163);
}

/* Other Experience */
#other-experience {
    position: relative;
}

.experience-list {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.experience-list li{
    width: 100%;
}

/* Contact */
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: min-content;
    margin-top: 2rem;
}

.contact-container {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    align-self: center;
}

#contact .section__pic-container {
    margin-bottom: 5em;
}

.contact-pic {
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: #353535 0.1rem solid;
    border-color: #a3a3a3;
    background: rgb(250,250,250);
    margin: 2rem auto;
    padding: 0.5rem;
    height: min-content;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    position: relative;
    cursor: default;
    height: 2rem;
    margin-right: 0.5rem;
}

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}